[Unit]
Description=OTTO bootup script
After=syslog.target auditd.service

[Service]
ExecStart=/usr/bin/raspifastcamd -w 640 -h 480 -e gif -o "/mnt/tmp/tmp.gif"
Restart=always
StartLimitInterval=0
WantedBy=multi-user.target
